{% extends "srac/base.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link href="{% static 'srac/signin.css' %}" rel="stylesheet">
{{ form.media }}
{% endblock %}

{% block container %}
{% if form.errors and not form.non_field_errors %}
<p class="alert alert-danger">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="alert alert-danger">
    {{ error }}
</p>
{% endfor %}
{% endif %}

{% if user.is_authenticated %}
<p class="alert alert-danger">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form" class="form-signin">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    {{ form.username.errors }}
    <input type="text"
           id="{{ form.username.id_for_label }}"
           name="{{ form.username.html_name }}"
           {% if form.username.value is not None %}
           value="{{ form.username.value }}"
           {% endif %}
           class="form-control"
           placeholder="Username" required autofocus>
    {{ form.password.errors }}
    <input type="password"
           id="{{ form.password.id_for_label }}"
           name="{{ form.password.html_name }}"
           class="form-control"
           placeholder="Password" required>
    <input type="hidden" name="next" value="{{ next }}" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign in' %}</button>
</form>
{% endblock %}
