<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SRAC | Security Rover Area Checklist</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="{% static 'srac/narrow-jumbotron.css' %}" rel="stylesheet">
        {% block extrastyle %}{% endblock %}
    </head>

    <body>
        <div class="container">
        {% block container %}
            <div class="header clearfix">
                <h3 class="text-muted">Security Rover Area Checklist</h3>
            </div>
            {% if user.is_authenticated %}
            <div class="col">
                <p>Welcome {{ user.get_full_name }}!</p>
            </div>
            {% endif %}

            <div class="row marketing">
            {% block content %}
            {% endblock %}
            </div>
        {% endblock %}
            <footer class="footer">
                <p>&copy; Lexmark 2017</p>
            </footer>
        </div>
    </body>
</html>
